﻿@model List<PravoRu.Models.Book>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" id="Filter">
                <option value="Name">Название</option>
                <option value="Author">Автор</option>
                <option value="FullText">Полнотекстовыый поиск</option>
            </select>
            @*<input type="text" value="" class="form-control" placeholder="Название книги(и мир)" id="BookName"/>*@
        </div>
        <div class="col-md-4">
            <input type="text" value="" class="form-control" placeholder="Чехов, и Мир" id="SearchValue" />
        </div>
        <div class="col-md-4">
            <div class="btn btn-primary" id="searchBtn">Поиск</div>
        </div>
    </div>
</div>
<br/>
<b>Книги:</b>

<div class="container">
    <hr />
    <b>
        <div class="row">
            <div class="col-md-2">
                Фото обложки
            </div>
            <div class="col-md-2">
                Название
            </div>
            <div class="col-md-2">
                Авторы
            </div>
            <div class="col-md-2">
                Жанр
            </div>
            <div class="col-md-2">
                Количество
            </div>
            <div class="col-md-2">
                В наличии
            </div>
        </div>
    </b>
    <hr />
    <div id="Books">
        @foreach (var _book in Model)
                {
            <div class="row">
                <div class="col-md-2">
                    <img src=@_book.Pic alt="Larry" width="40" height="40" />
                </div>
                <div class="col-md-2">
                    @_book.Name
                </div>
                <div class="col-md-2">
                    @_book.Authors
                </div>
                <div class="col-md-2">
                    @_book.Genre
                </div>
                <div class="col-md-2">
                    @_book.Count
                </div>
                <div class="col-md-2">
                    @_book.InUse
                </div>
            </div><hr />
        }
    </div>
</div>