﻿@model List<PravoRu.Models.Incomings>
<div class="conteiner">
    <hr/>
    <b>
        <div class="row">
            <div class="col-md-3">
                Дата
            </div>
            <div class="col-md-3">
                Поставщик
            </div>
            <div class="col-md-3">
                Книга
            </div>
            <div class="col-md-3">
                Количество
            </div>
        </div>
    </b>
    <hr />
</div>
<div class="container">
    @foreach (var _income in Model)
    {
    <div class="row">
        <div class="col-md-3">
            @_income.Date.ToString("dd.MM.yyyy")
        </div>
        <div class="col-md-3">
            @_income.Provider
        </div>
        <div class="col-md-3">
            @_income.Book
        </div>
        <div class="col-md-3">
            @_income.Count
        </div>
    </div>
    <hr />
    }
</div>