﻿@model PravoRu.Models.IndexModel
@{
    ViewBag.Title = "Библиотека";
}
<script src="~/Scripts/app.js"></script>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
<hr/>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#books" data-toggle="tab">Книги</a></li>
    <li><a href="#incomings" data-toggle="tab">Поступления</a></li>
    <li><a href="#subscribers" data-toggle="tab">Подписчики</a></li>
    <li><a href="#reports" data-toggle="tab">Отчеты</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="books">
        @Html.Partial("Books",Model.Books)
    </div>
    <div class="tab-pane" id="incomings">
        @Html.Partial("Incomings",Model.Incomings)
    </div>
    <div class="tab-pane" id="subscribers">
        @Html.Partial("Subscribers",Model.Subscribers)
    </div>
    <div class="tab-pane" id="reports">
        @Html.Partial("Reports")
    </div>
</div>