﻿<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="thumbnail">
                    <h3>Топ 10</h3>
                    <hr />
                    <p>
                        Показывает топ 10 самых популярных книг. Узнайте какую книгу стоит почитать в нашей библиотеке.
                    </p>
                    <br /><br />
                    <div class="btn btn-primary" id="reportTopBtn" data-toggle="modal" data-target="#modalTop">Показать</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="thumbnail">
                    <h3>Статистика</h3>
                    <hr />
                    Дата начала
                    <input type="text" id="StartDate" class="form-control" placeholder="ДД.ММ.ГГГГ" name="StartDate" value="@DateTime.Now.AddDays(-1).ToString("dd.MM.yyyy")" />
                    Дата конца
                    <input type="text" id="EndDate" class="form-control" placeholder="ДД.ММ.ГГГГ" name="EndDate" value="@DateTime.Now.ToString("dd.MM.yyyy")" />
                    <br />
                    <div class="btn btn-primary" id="reportChartBtn" data-toggle="modal" data-target="#modalTop">Показать</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalTop" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="headerReport">Топ 10 книг</h4>
            </div>
            <div class="modal-body" id="ReportTop">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
