﻿@model List<PravoRu.Models.Subscribers>
<div class="conteiner">
    <hr />
    <b>
        <div class="row">
            <div class="col-md-3">
                Имя
            </div>
            <div class="col-md-3">
                Фамилия
            </div>
            <div class="col-md-3">
                Начало подписки
            </div>
        </div>
    </b>
    <hr />
</div>
<div class="container">
    @foreach (var _subs in Model)
    {
        <div class="row">
            <div class="col-md-3">
                @_subs.Name
            </div>
            <div class="col-md-3">
                @_subs.Surname
            </div>
            <div class="col-md-3">
                @_subs.Date.ToString("dd.MM.yyyy")
            </div>
        </div>
        <hr />
    }
</div>
