﻿@model List<PravoRu.Models.Book>

@foreach (var _book in Model)
{
    <div class="row">
        <div class="col-md-2">
            <img src=@_book.Pic alt="Larry" width="40" height="40" />
        </div>
        <div class="col-md-2">
            @_book.Name
        </div>
        <div class="col-md-2">
            @_book.Authors
        </div>
        <div class="col-md-2">
            @_book.Genre
        </div>
        <div class="col-md-2">
            @_book.Count
        </div>
        <div class="col-md-2">
            @_book.InUse
        </div>
    </div><hr />
}