﻿@model List<Tuple<string,int>>
<script src="~/Scripts/Chart.js"></script>
<canvas id="myChart" width="400" height="400"></canvas>

<script>
    var ctx = document.getElementById("myChart");
    var labels = [];
    var data = [];
    @foreach (var item in Model)
    {
        @:labels.push('@item.Item1');
        @:data.push(@item.Item2);
    }
    var data = {
        labels: labels,
        datasets: [
            {
                label: "Статистика выдачи книг",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: data,
                spanGaps: false,
            }
        ]
    };


    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: data,
    });
</script>