﻿@model List<PravoRu.Models.Book>

<table>
    @foreach (var _book in Model)
    {
        <tr>
            <td>
                @_book.Name
            </td>
            <td>
                @_book.Count
            </td>
        </tr>
    }

</table>
